* {
  font-family: "Inter", sans-serif;
  text-decoration: none !important;
  list-style-type: none;
}

.navbar a, {
  color: #fff;
}
.card-body a{
  color: #414141
}
.container__img {
  width: 100%;
  height: 167px !important;
  object-fit: cover !important;
}
